<!DOCTYPE html>
<html>
<head lang="en">
  <title>Node minus framework</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
  <h1>Content Page</h1>
  <h2>{{heading}}</h2>
  <div class="container home">
    <p>you are on the other side of a login gate!</p>
    {{#if login}}
      <p> your login is {{login}} and your password is {{pw}}. </p>
    {{/if}}
  </div>
  <script type="text/javascript" src="js/bundle.js" charset="utf-8"></script>
</body>
</html>
