<!DOCTYPE html>
<html>
<head lang="en">
  <title>Node minus framework</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <script src="test.js"></script>
  <link href="/static/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>{{heading}}</h1>
  <div class="container">
    <form method="post">
      <input type="text" name="login" size="15" placeholder="username" class="form"></input>
      <input type="text" name="pw" size="15" placeholder="password" class="form"></input><br><br>
      <input type="submit" value="Sign In" formaction="/signIn" class="form input"></input>
      <input type="submit" value="Register" formaction="/signUp" class="form input"></input>
    </form>
    {{#if login}}
      <p> your login is {{login}} and your password is {{pw}}. </p>
    {{/if}}
  </div>
</body>
</html>
