@import "reset";

$large-font-weight: 24pt;

html,body{
  background: #FAFAFA;
}

h1,h2,h3{
  text-align: center;
  font-weight: bold;
  font-size: $large-font-weight;
  padding: 20px 0 20px 0;
}

input{
  border-radius: 5px;
  border: solid 1px black;
}

.form{
  /*height: 18pt;*/
  font-size: 18pt;
  padding-left: 10px;
}

.input{
  width:10ch;
}

.container{
  text-align: center;
}

.home{
  background-color: white;
}
